body{
    font-family: 'Quattrocento Sans', sans-serif;
    background: #f5a800;
}
a{
    text-decoration: none;
    color:white;
}
*{
    margin: 0;
    padding: 0;
}
p{
    margin: 4px 0;
}
/*-----------Header-----------*/
.header{
    display: flex;
    height: 150px;
    border-bottom: solid 5px #e50695;
    padding-left: 90px; /*Padding a la izquierda para acomodar el logo*/
    background: #24282e;
}
.header img{
    border-radius: 50%;
    height: 145px;
    width: 145px;
    padding-top: 3px;
}
.navegador{
    margin: 5% 5%; /*Margen para separar el navegador del logo*/
    font-size: 18px;
    font-weight: 600;
}
.navegador li{ /*display: inline para que los elementos se pongan uno despues del otro*/
    list-style: None;
    display: inline;
    padding-right: 40px;
}
/*-----------Pie de Pagina-----------*/
.pie ul{
    padding: 0 10px;
}
.pie li{
   list-style: none; 
   padding: 3px 0;
}
.pie{ /*Display flex con space-between para que en automatico se acomode cada ul uno depues del otro*/
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #24282e;
    color: white;
    border-top: solid 5px #e50695;
}
/*-----------Contenido de la pagina-----------*/
section{
    margin: 8px 10%;
}
.contenido{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contenido img{
    width: 100%;
    height: 100%;
}
.imagen{
    padding: 6px;
}
.contenido img:hover{
    border: solid 4px white;
}