body{
    font-family: 'Quattrocento Sans', sans-serif;
    background: #0033a1;
}
a{
    text-decoration: none;
    color:white;
}
*{
    margin: 0;
    padding: 0;
}
p{
    margin: 4px 0;
}
/*-----------Header-----------*/
.header{
    display: flex;
    width: auto;
    height: 150px;
    border-bottom: solid 5px #e50695;
    padding-left: 90px; /*Padding a la izquierda para acomodar el logo*/
    background: #24282e;
}
.header img{
    border-radius: 50%;
    height: 145px;
    width: 145px;
    padding-top: 3px;
}
.navegador{
    margin: 5% 5%; /*Margen para separar el navegador del logo*/
    font-size: 18px;
    font-weight: 600;
}
.navegador li{ /*display: inline para que los elementos se pongan uno despues del otro*/
    list-style: None;
    display: inline;
    padding-right: 40px;
}
/*-----------Pie de Pagina-----------*/
.pie ul{
    padding: 0 10px;
}
.pie li{
   list-style: none; 
   padding: 3px 0;
}
.pie{ /*Display flex con space-between para que en automatico se acomode cada ul uno depues del otro*/
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #24282e;
    color: white;
    border-top: solid 5px #e50695;
}
/*--------Contenido de la pagina--------------*/
.contenido{ /*para centrar el contenido de la pagina*/
    margin-left: 8%;
    margin-right: 8%;
}
.titulo{
    font-size: 30px;
    text-align: left;
    padding-left: 40px;
}
.elemento{
    padding: 20px;
    text-align: center;
    font-size: 80px;
}
.anuncio{ /*primer anuncio, separamos las columnas en 4, la primera que habarque el 60% que seria donde tenemos más texto, lo demas seria por cada 13.3% restante un div elemento*/
    display: grid;
    grid-template-columns: 60% 13.3% 13.3% 13.3%;
    background: #24282e;
    background-image: url(../Imagenes/tamal_5_galeria.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 0;
    height: 20rem;
    margin: 20px 0;
}
.anuncio_2{ /*segundo anuncio, lo mismo solo que lo separamos en 50 50 y claro cambiamos la imagen de fondo*/
    display: grid;
    grid-template-columns: 50% 50%;
    background: #24282e;
    background-image: url(../Imagenes/tamales_5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 0;
    height: 20rem;
    margin: 20px 0;
}
