body{
    font-family: 'Quattrocento Sans', sans-serif;
    background: #0033a1;
}
a{
    text-decoration: none;
    color:white;
}
*{
    margin: 0;
    padding: 0;
}
p{
    margin: 4px 0;
}
/*-----------Header-----------*/
.header{
    display: flex;
    width: auto;
    height: 150px;
    border-bottom: solid 5px #e50695;
    padding-left: 90px;
    background: #24282e;
}
.header img{
    border-radius: 50%;
    height: 145px;
    width: 145px;
    padding-top: 3px;
}
.navegador{
    margin: 5% 5%;
    font-size: 18px;
    font-weight: 600;
}
.navegador li{
    list-style: None;
    display: inline;
    padding-right: 40px;
}
/*-----------Pie de Pagina-----------*/
.pie ul{
    padding: 0 10px;
}
.pie li{
   list-style: none; 
   padding: 3px 0;
}
.pie{
    display: flex;
    height: 180px;
    width: auto;
    align-items: center;
    justify-content: center;
    background: #24282e;
    color: white;
    border-top: solid 5px #e50695;
}
/*CONTENIDO*/
.contenido{
    margin-left: 8%;
    margin-right: 8%;
}
.titulo{
    font-size: 30px;
    text-align: left;
    padding-left: 40px;
}
.elemento{
    padding: 20px;
    text-align: center;
    font-size: 80px;
}
.anuncio{
    display: grid;
    grid-template-columns: 60% 13.3% 13.3% 13.3%;
    background: #24282e;
    background-image: url(../Imagenes/tamal_5_galeria.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 0;
    height: 20rem;
    margin: 20px 0;
}
.anuncio_2{
    display: grid;
    grid-template-columns: 50% 50%;
    background: #24282e;
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px 0;
    height: 20rem;
    margin: 20px 0;
}
