body{
    font-family: 'Quattrocento Sans', sans-serif;
    background: #f5a800;
}
a{
    text-decoration: none;
    color:white;
}
*{
    margin: 0;
    padding: 0;
}
p{
    margin: 4px 0;
}
/*-----------Header-----------*/
.header{
    display: flex;
    width: auto;
    height: 150px;
    border-bottom: solid 6px #e50695;
    padding-left: 90px;
    background: #24282e;
}
.header img{
    border-radius: 50%;
    height: 145px;
    width: 145px;
    padding-top: 3px;
}
.navegador{
    margin: 5% 5%;
    font-size: 18px;
    font-weight: 600;
}
.navegador li{
    list-style: None;
    display: inline;
    padding-right: 40px;
}
/*-----------Pie de Pagina-----------*/
.pie ul{
    padding: 0 10px;
}
.pie li{
   list-style: none; 
   padding: 3px 0;
}
.pie{
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: center;
    background: #24282e;
    color: white;
    border-top: solid 5px #e50695;
}
/*Contenido de la pagina*/
section{
    margin: 2% 10%;
}
.contenido{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 6% 0%;
}
.contenido-izq img{
    width: 100%;
    height: 100%;
    border-radius: 0 40% 0 40%;
}
.contenido-der{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.titulo{
    grid-column: 1/3;
    font-style: italic;
    font-size: 1.3em;
}
.nombre-platillo{
    font-weight: bold;
    font-style: italic;
}
.platillo{
    font-size: 1.2em;
}
